<ion-view view-title="Serveis V2">
   
   <ion-nav-bar class="bar-positive">
      </ion-nav-bar>
       
        <ion-content has-tabs="true" has-header="true"> 
        
        <div class="incidenciaContacte">
            <i class="fa fa-users fa-2x"></i>  
            <span>Xavier Barrufet</span>
        </div>    
        <div class="chatContainer"> 
            <div class="chatMissatge chatSrc">Lorem ipsum</div>
            <div class="chatMissatge chatSrc">dolor sit amet, consectetur adipiscing elit</div>
            <div class="chatMissatge chatDst">sed do eiusmod tempor incididunt?</div>
            <div class="chatMissatge chatSrc">ut labore et dolore magna aliqua</div>
            <div class="chatMissatge chatDst">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
           
        </div>    
        <br>
        <div class="chatCrearMissatge">    
            <i class="fa fa-camera fa-2x chatAddFile"></i>
            <i class="fa fa-microphone fa-2x chatAddFile"></i>
            <textarea class="chatEntrarTexte"></textarea>
            <div class="chatEnviar">    
                    <i class="fa fa-check fa-2x"></i>
            </div>   
        </div>  
            
   </ion-content>
  
</ion-view> 