<ion-view view-title="Missatges">
   
    <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
       
        <ion-content has-tabs="true" has-header="true"> 
        
        <div class="clientsCerca">
            <input type="text"/>
            <i class="fa fa-search fa-2x"></i>
        </div>    
        <div class="clientsContainer"> 
          <ion-list>
          
              <ion-item>  
                <div class="clientsItem">
                    <div class="clientItemContacte">
                        <p class="Nom">Xavier Barrufet</p>
                        <p class="Adreça">C/ Ntra Sra de la Merce 10</p>
                        <p class="Adreça">Gava</p>
                    </div>
                    <div class="clientItemAccions">
                            <a href="trucar(1111111)">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>
                        &nbsp;&nbsp;&nbsp;
                            <a href="#/serveis/chat">
                                <i class="fa fa-comments-o fa-2x"></i>
                                 <p class="numMissatges">1</p>
                            </a>
                    </div>
                    
                </div>
                  
              </ion-item>
           
                
             <ion-item>  
                <div class="clientsItem">
                    <div class="clientItemContacte">
                        <p class="Nom">John McEnroe</p>
                        <p class="Adreça">C/ Cami de Valencia 230</p>
                        <p class="Adreça">Sant Cugat</p>
                    </div>
                    <div class="clientItemAccions">
                            <a href="trucar(1111111)">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>
                        &nbsp;&nbsp;&nbsp;
                            <a href="#/serveis/chat">
                                <i class="fa fa-comments-o fa-2x"></i>
                               
                            </a>
                    </div>
                    
                </div>
                  
              </ion-item>
              
               <ion-item>  
                <div class="clientsItem">
                    <div class="clientItemContacte">
                        <p class="Nom">Ruyard Kipling</p>
                        <p class="Adreça">C/ Tafalleres 66</p>
                        <p class="Adreça">Barcelona</p>
                    </div>
                    <div class="clientItemAccions">
                            <a href="trucar(1111111)">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>
                        &nbsp;&nbsp;&nbsp;
                            <a href="#/serveis/chat">
                                <i class="fa fa-comments-o fa-2x"></i>
                            </a>
                    </div>
                    
                </div>
                  
              </ion-item>
              
               <ion-item>  
                <div class="clientsItem">
                    <div class="clientItemContacte">
                        <p class="Nom">Oriol Pujol</p>
                        <p class="Adreça">Cel.la 14 bloc A</p>
                        <p class="Adreça">La Modelo</p>
                    </div>
                    <div class="clientItemAccions">
                            <a href="trucar(1111111)">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>
                        &nbsp;&nbsp;&nbsp;
                            <a href="#/serveis/chat">
                                <i class="fa fa-comments-o fa-2x"></i>
                            </a>
                    </div>
                    
                </div>
                  
              </ion-item>
                
            </ion-list>
        </div>  
            
   </ion-content>
  
  
</ion-view> 