<ion-view view-title="Serveis V2">
   
   <ion-nav-bar class="bar-positive">
      </ion-nav-bar>
       
        <ion-content has-tabs="true" has-header="true"> 
        
        <div class="incidenciaContacte">
            <i class="fa fa-users fa-2x"></i>  
            <span>Xavier Barrufet</span>
        </div>    
        <div class="incidenciaTexte"> 
            <h3>Incidencia</h3>
            <textarea ng-model="incidencia.titol" rows=4></textarea>    
            <div class="incidenciaFoto">
                <i class="fa fa-camera fa-2x camara"></i>
                <p class="numFotos">4</p>
            </div>    
        </div>    
            
        <div class="incidenciaAccions">    
            <div class="incidenciaGuardar">    
                    <i class="fa fa-check fa-2x"></i>
            </div>   
            <div class="incidenciaCancelar">    
                    <i class="fa fa-times fa-2x"></i>
            </div>
        </div>  
            
   </ion-content>
  
</ion-view> 