  

 
     
<ion-view view-title="Serveis">
   
   <ion-nav-bar class="bar-positive">
      </ion-nav-bar>
       
        <ion-content has-tabs="true" has-header="true"> 
        <div>    
            <div style="margin: 20px;  text-align: center;">
            <button class="button button-small icon-left ion-camera button-positive">Scan</button>
            </div>
            <ion-list>
              <ion-item ng-repeat="servei in ServeisActius" href="#/serveis/{{servei.id}}">
                  <div>  
                  <div style="float:left">
                    <h3>{{servei.Client}}</h3>
                    <p>{{servei.Adressa}}</p>
                    </div>
                    <div style="float:right">                     
                        <p class="icon ion-alert-circled"><b>&nbsp;Inicidencies:</b>{{servei.NumIncidencies}}</p>
                        <p><b>Tasques:</b>{{servei.NumTasques}}</p>
                    </div>
                  </div>
                </ion-item>
            </ion-list>
        </div>    
            
   </ion-content>
  
</ion-view> 
