  

 
     
<ion-view view-title="Tasques Programades">
   
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
     <ion-content has-tabs="true" has-header="true">   
       
     
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
             <div class="TaskScreenTitol">
                        <div class="LabelDia">Setmana 24/04/2105</div> 
            
                </div>
            
                <div class="setmanaFila">
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">DL-24/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem INCIDENCIA">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem ADVERTENCIA">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                    </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">DM-25/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                                <div class="setmanaDiaTaskItem NORMAL">Valerio Lazarov  </div>
                        </div>
                    </div>
                     </a>
                    <a href= "#/serveis/dia"> 
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">DX-26/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                     </a>  
                    
                    
                </div>
               <div class="setmanaFila">
                
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">DJ-24/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem INCIDENCIA">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem ADVERTENCIA">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                             <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                         </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">DV-25/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                
                        </div>
                    </div>
                         </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">DV-26/04</p>
                        <div class="setmanaDiaTaskList">
                               
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                   </a>
                </div>   
               
            </div>
          </ion-slide>
         <ion-slide>
             <div class="TaskScreenTitol">
                        <div class="LabelDia">Setmana 31/04/2105</div> 
            
                </div>
                <div class="setmanaFila">
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dilluns-24/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem INCIDENCIA">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem ADVERTENCIA">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                    </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dimarts-25/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                                <div class="setmanaDiaTaskItem NORMAL">Valerio Lazarov  </div>
                        </div>
                    </div>
                     </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dimecres-26/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                         </a>
                    
                    
                </div>
               <div class="setmanaFila">
                
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dijous-24/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem INCIDENCIA">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem ADVERTENCIA">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                             <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                         </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Divendres-25/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                
                        </div>
                    </div>
                         </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dissabte-26/04</p>
                        <div class="setmanaDiaTaskList">
                               
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                   </a>
                </div>   
               
            </div>
          </ion-slide>
         <ion-slide>
            <div class="TaskScreenTitol">
                        <div class="LabelDia">Setmana 6/05/2105</div> 
            
                </div>
                <div class="setmanaFila">
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dilluns-24/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem INCIDENCIA">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem ADVERTENCIA">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                    </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dimarts-25/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                                <div class="setmanaDiaTaskItem NORMAL">Valerio Lazarov  </div>
                        </div>
                    </div>
                     </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dimecres-26/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                         </a>
                    
                    
                </div>
               <div class="setmanaFila">
                
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dijous-24/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem INCIDENCIA">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem ADVERTENCIA">John McEnroe</div>
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                             <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                         </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Divendres-25/04</p>
                        <div class="setmanaDiaTaskList">
                                <div class="setmanaDiaTaskItem NORMAL">Xavier Barrufet</div>
                                <div class="setmanaDiaTaskItem NORMAL">John McEnroe</div>
                                
                        </div>
                    </div>
                         </a>
                    <a href= "#/serveis/dia">
                    <div class="setmanaCellDia">
                        <p class="setmanaLabelDia">Dissabte-26/04</p>
                        <div class="setmanaDiaTaskList">
                               
                                <div class="setmanaDiaTaskItem NORMAL">Ruyard Kipling</div>
                                <div class="setmanaDiaTaskItem NORMAL">Oriol Pujol</div>
                        </div>
                    </div>
                   </a>
                </div>   
               
            </div>
          </ion-slide>
        </ion-slide-box>
            
        <!-- <div>    
            <div style="margin: 20px;  text-align: center;">
            <button class="button button-small icon-left ion-camera button-positive" ng-click="scanQRCode()">Scan</button> -->
            <!-- <button class="button button-small icon-left ion-camera button-positive" ng-click="testScan('112233445566')">Scan Test</button>   --> 
         <!--    </div>
            <ion-list>
              <ion-item ng-class="servei.Prioritat" ng-repeat="servei in ServeisActius | orderBy:'PrioritatOrdre'" href="#/serveis/{{servei.codi}}/read">
                  <div >
                      <div style="float:left">
                        <h3 class="propietari">{{servei.Client}}</h3>
                        <p>{{servei.Adressa}}</p>
                      </div>
                      <div style="float:right">  
                          <p class="numTasques">Tasques:{{servei.NumTasques}}</p>
                      </div>
                  </div>
                </ion-item>
            </ion-list>
        </div> -->    
            
   </ion-content>
 
  
</ion-view> 
