  

 
     
<ion-view view-title="Detall">
   
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
     <ion-content has-tabs="true" has-header="true">   
         <div style="margin: 5px;  padding:5px;text-align: center;">
                        <button class="button button-small icon-left ion-camera button-positive" >Scan</button>
                          <button class="button button-small icon-left ion-play button-positive" ng-click="go('serveidetailStart')">Iniciar</button>
                        </div>         
    
     <div class="card">
            <div class="item item-divider">
               <h3>{{serveiSelected.Client}}</h3>
                  <p>{{serveiSelected.Adressa}}</p>
            </div>
            <div class="item item-text-wrap">
                <ion-list>
                      <ion-item ng-repeat="tasca in serveiSelected.Tasques" >
                            <p>{{tasca.Descripcio}}</p> 
                        </ion-item>
                    </ion-list>
            </div>
            </div>
            </ion-content>
  
</ion-view> 
