  

 
     
<ion-view view-title="Serveis_tab">
   
    <ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Actius" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
    <ion-header-bar class="bar-positive">
          <button class="button button-clear" ng-click="newTask()">New</button>
          <h1 class="title">Serveis</h1>
        </ion-header-bar>
      <ion-content has-tabs="true" has-header="true"> 
            <ion-list>
              <ion-item ng-repeat="servei in ServeisActius">
                <h3>{{servei.Client}}</h3>
                <p>{{servei.Adressa}}</p>  
                  <p><b>Actius Desde:</b>&nbsp;{{servei.DataActiu}}</p>
              </ion-item>
            </ion-list>
   </ion-content>
  </ion-tab>

    <ion-tab title="Pendents" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
<ion-tab title="Pendents" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
    <ion-header-bar class="bar-positive">
          <button class="button button-clear" ng-click="newTask()">New</button>
          <h1 class="title">Serveis</h1>
        </ion-header-bar>
      <ion-content has-tabs="true" has-header="true"> 
            <ion-list>
              <ion-item ng-repeat="servei in Serveis">
                <h3>{{servei.Client}}</h3>
                <p>{{servei.Adressa}}</p>  
                  <p><b>Ultim Servei:</b>&nbsp;{{servei.DataUltimServei}}</p>
              </ion-item>
            </ion-list>
   </ion-content>
  </ion-tab>


 
</ion-tabs> 
  
</ion-view> 
