<ion-view view-title="Missatges">
   
   <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
     <ion-content has-tabs="true" has-header="true">   
         
        <div class="clientsCerca">
            <input type="text"/>
            <i class="fa fa-search fa-2x"></i>
        </div>    
        <div class="clientsContainer"> 
          <ion-list>
          
              <ion-item>  
                <div class="clientsItem">
                    <a href="https://www.google.es/maps/@41.3902437,2.1716036,15z">
                    <div class="clientItemContacte">
                        <p class="Nom">Xavier Barrufet</p>
                        <p class="Adreça">C/ Ntra Sra de la Merce 10</p>
                        <p class="Adreça">Gava</p>
                    </div>
                    </a>
                    <div class="clientItemAccions">
                            <a href="trucar(1111111)">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>
                        &nbsp;&nbsp;&nbsp;
                            <a href="#/serveis/chat">
                                <i class="fa fa-comments-o fa-2x"></i>
                                <p class="numMissatges">1</p>    
                            </a>
                    </div>
                    
                </div>
                  
              </ion-item>
           
           
                
            </ion-list>
        </div>  
            
   </ion-content>
  
</ion-view> 